[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
django-extensions = "*"
django-environ = "*"
pysolr = "*"
argon2-cffi = "*"
wagtail = "*"
django-oscar = {extras = ["sorl-thumbnail"], version = "3.2.4"}
pycountry = "*"

[dev-packages]
django-debug-toolbar = "*"
psycopg = {extras = ["binary"], version = "*"}
ruff = "*"

[requires]
python_version = "3.12"
